# Bloqueo de dependencias de node
node_modules/
package-lock.json

# Filtros para la carpeta Android (Permite subir el proyecto sin binarios)
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/local.properties
android/captures/
android/*.iml
android/.DS_Store